body {
    margin: 15px;
    padding: 10px;
}

.top {
    background: rbg(16, 112, 7);
    background: linear-gradient(90deg, rgba(16, 112, 7, 1) 2%, rgba(0, 255, 68, 0.5130427170868348) 73%);
    border: solid 7px darkgreen;
}

h1 {
    font-family: serif;
    font-weight: bold;
    margin-left: 15px;

}

h2 {
    font-family: serif;
    font-style: italic;
    margin-left: 15px;
}

p {
    background: #88888875;
    line-height: 1.5;
    font-size: larger;
    padding-left: 15px;

}

.middle {

    background-image: url(https://miro.medium.com/max/1000/0*XUqoVTLGQsYacXs_);
    background-repeat: no-repeat;
}

ol,
ul {
    font-family: sans-serif;
    background: #88888875;
    line-height: 1.5;
}

.intro {
    font-size: 35px;
    color: darkgreen;

}

.clicker {
    color: grey;
    background-color: darkgreen;

}

footer {
    color: grey;
    font-style: italic;
}