body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.infoEnter {
  font-size: 1.5rem;
  color: blue;
}

.infoSubmit{
  font-size: 1.5rem;
  color:red;
}

button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  color: whitesmoke;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}
button.github,
input[type=submit].github {
  background: #82d465;
}
button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.facebook:after,
input[type=submit].facebook:after {
  background: #2d5082;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button.twitter:after,
input[type=submit].twitter:after {
  background: #2c8dd0;
}
